@import "tailwindcss";

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}

@theme {
  --font-mono: 'JetBrains Mono', 'Fira Code', monospace;
  --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --animate-spotlight: spotlight 2s ease .75s 1 forwards;

  @keyframes spotlight {
    0% {
      opacity: 0;
      transform: translate(-72%, -62%) scale(0.5);
    }

    100% {
      opacity: 1;
      transform: translate(-50%, -40%) scale(1);
    }
  }
}


@utility glass {
  @apply backdrop-blur-md bg-white/10 border border-white/20;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  color-scheme: dark;
  background-color: #030712;
  color: #f9fafb;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(99, 102, 241, 0.3);
  border-radius: 10px;
}